/*
    Variables
-------------------------------------
*/

// Containers
$content__max-width-s: 1200px;
$content__max-width-m: 1500px;
$content__max-width-l: 1920px;

// Fonts

// Font weight
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__semi-bold: 600;
$font-weight__bold: 700;

// Colors
$color__gray: #ABB2B2;
$color__white: #FFFFFF;
$color__black: #000000;